version: '3'
services:
  db:
    image: postgres:9.6
    ports:
      - '${DB_PORT:-5432}:5432'
    networks:
      - api
  redis:
    image: redis
    ports:
      - ${REDIS_PORT:-0}:6379
    networks:
      - api
  minio:
    image: minio/minio:RELEASE.2018-10-06T00-15-16Z
    volumes:
      - minio_data:/export
    ports:
      - ${S3_PORT:-9000}:9000
    environment:
      MINIO_ACCESS_KEY: accessKey1
      MINIO_SECRET_KEY: verySecretKey1
    command: server minio_data
  azurite:
    image: mcr.microsoft.com/azurestorage-azurite:2.6.7
    ports:
      - ${AZURE_BLOB_PORT:-10000}:10000
    volumes:
      - azurite_data:/opt/azurite/folder
    environment:
      executable: blob


volumes:
  rubygems_cache:
  minio_data:
  azurite_data:
networks:
  api:
