<h1>New Employment Tribunal User Feedback</h1>

<p>The following feedback is from <%= @feedback_data["email_address"]%></p>

<h2>"Problems"</h2>

<p><%= @feedback_data["problems"] %></p>

<h2>Suggestions</h2>

<p><%= @feedback_data["suggestions"] %></p>
