---
:concurrency: 5
:verbose: true
staging:
  :concurrency: 10
production:
  :concurrency: <%= ENV.fetch('RAILS_MAX_THREADS', '20').to_i - 2  %>
:queues:
  - events
  - export_claims
  - default
  - low
  - mailers
  - sidekiq_alive
